body {
    margin: 0;
}

header {
    height: 50px;
    border: solid #000; 
    border-width: 2px 2px 1px;
    background: #e2e6e6; 
}

.container {
    display: table;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    height: calc(100% - 106px);
}

.content {
    display: table-row;
}

nav {   
    width: 250px;
    border: solid 1px #000; 
    background: #e2e6e6; 
}

.content-center { 
    border: solid 1px #000; 
    background: #fff; 
}

aside {
    width: 250px;
    border: solid 1px #000; 
    background: #e2e6e6; 
}

nav, .content-center, aside {  
    display: table-cell;
    padding: 30px;
}
  
ol{
    padding-left: 20px;
}

footer {
    height: 50px;
    border: solid #000; 
    border-width: 1px 2px 2px;
    background: #e2e6e6;
} 
